*pcapng
*C_TAG-USB
.vscode
__pycache__
test-*.py
yg*.py
*csv
*.dat
clicker_log.txt
src/log/2020_09_15__23_19_(new_Handle_clicks_a).mat
src/log/2020_09_15__23_39_(new_Handle_clicks_b).mat
build
dist
src/ctag-hid.spec
src/ctag_hid_GUI_less_clicker_rec.spec
src/ctag_hid_GUI_less_clicker_rec_Graph_old.py
Backup
log_
src/ctag_hid_GUI_less_clicker_rec_Graph.spec
src/csv_plot.spec
